html,
body{
	height: 100%;
	margin: 0;
	padding:0;
	@include roboto;
}

%valign{
	position: absolute;
	top: 50%;
	@include translateY(-50%);
}

#sexapp{
	position: relative;
	height: 100%;
	background-color: #000;
}

#menu{
	z-index: 10;
	position: fixed;
	top: 2em;
	left: 2em;
	color: #fff;
	background-color: transparent;
	border: none;

	@media screen and (max-width: 480px){
		top: 1em;
		left: 1em;
	}
}

#user{
	position: relative;
	height: 90%;

	@media screen and (max-width: 480px){
		height: 92%;
	}

	&:after{
		content: "";
		position: absolute;
		bottom: 0;
		display: block;
		height: 20%;
		width: 100%;
		@include filter-gradient(#000000, #000000, vertical); // IE6-8
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 61%,rgba(0,0,0,1) 100%));
	}

	#user-rating{
		position: absolute;
		top: 2em;
		right: 2em;
		width: 50px;
		height: 50px;
		line-height: 50px;

		.user-rating-value{
			color: #fff;
			font-size: 2em;
			text-align: center;
			background-color: #F62459;
			@include border-radius(100px);
		}
	}

	// #user-choice{
	// 	position: fixed;
	// 	@extend %valign;
	// 	width: 100%;
	// 	text-align: center;

	// 	i{
	// 		display: inline-block;
	// 		width: 100px;
	// 		height: 100px;
	// 		line-height: 100px;
	// 		@include border-radius(100px);

	// 		&.like{
	// 			color: #fff;
	// 			background-color: #F62459;
	// 		}

	// 		&.dislike{
	// 			color: #fff;
	// 			background-color: #96281B;
	// 		}
	// 	}
	// }

	@keyframes fade {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	#user-image{
		height: 100%;
		background-position: top center;
		background-size: cover;
		
		animation-name: fade;
		animation-duration: 1s;
	}

	#user-info{
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 2em;

		animation-name: fade;
		animation-duration: 1s;

		@media screen and (max-width: 480px){
			padding: 1em;
		}
		
		.user-info-name{
			color: #fff;
			font-weight: 400;
			word-spacing: 5px;

			.user-info-fname,
			.user-info-lname,{
				font-size: 2em;

				@media screen and (max-width: 480px){
					font-size: 1.5em;
				}
			}
		}

		.user-description{
			max-width: 70%;
			margin-top: 1em;
			color: #fff;
			font-size: 1.5em;
			font-weight: 300;

			@media screen and (max-width: 480px){
				font-size: 1.2em;
			}
		}

	}// #user-info

}// #user

#app-rating-options{
	position: relative;
	height: 10%;
	background-color: #000;

	@media screen and (max-width: 480px){
		height: 8%;
	}

	button{
		@extend %valign;
		display: block;
		height: 100%;
		width: 45%;
		margin-left: 5%;
		color: #fff;
		@include roboto;
		font-size: 2em;
		line-height: 1;
		text-transform: uppercase;
		border: none;
		z-index: 1;
		outline: none;

		@media screen and (max-width: 600px){
			font-size: 1.5em;
		}

		@media screen and (max-width: 480px){
			font-size: 1em;
		}

		i{
			margin-right: 5px;
			vertical-align: middle;
		}
		span{
			vertical-align: sub;
		}

		&#dislike{
			margin-left: 0;
			left: 0;
			background-color: #e74c3c;
		}

		&#like{
			right: 0;
			background-color: #2ecc71;
		}
	}
}// #app-ration-options
