.btn {
	margin-left: 10px;
}

.answerList,.answer_item {
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
	padding: 0;
}

select.form-control {
	width: 50%;
}

.question {
	border-bottom: 1px solid #000;
	margin-bottom: 10px;
}